<div class="bithu_header" id="navbar">
  <div class="container">
    <!-- Main Menu Start -->
    <div class="bithu_menu_sect">
      <div class="bithu_menu_left_sect">
        <div class="logo">
          <a href="#"><img src="../../assets/images/logo.png" alt="logo" /></a>
        </div>
      </div>
      <div class="bithu_menu_right_sect bithu_v1_menu_right_sect">
        <div class="bithu_menu_list">
          <ul>
            <li><a routerLink ="" >Home</a></li>
            <li><a routerLink="/about">About</a></li>
              
          </ul>
        </div>
        <div class="bithu_menu_right_buttons">
       <a href="https://t.me/+T7VwGW-Ftwh60LhF"> <button class="join_btn hov_shape_show"  >
            <span class="fa-brands fa-telegram"></span> Join
            <span class="hov_shape1"><img src="../../assets/images/icon/hov_shape_s.svg" alt="" /></span>
            <span class="hov_shape2"><img src="../../assets/images/icon/hov_shape_s.svg" alt="" /></span>
            <span class="square_hov_shape"></span>
          </button></a>  
          <button class="menu_bar" data-bs-toggle="modal" data-bs-target="#mobileMenuModal"><i
              class="fa-solid fa-bars"></i></button>

          <!--button class="connect_btn hov_shape_show"  data-bs-toggle="modal"  data-bs-target="#connectModal">
            <img src="../../assets/images/icon/connect_wallet.svg" alt="" />Scanner
            <span class="hov_shape1"><img src="../assets/images/icon/hov_shape_s.svg" alt="" /></span>
            <span class="hov_shape2"><img src="../assets/images/icon/hov_shape_s.svg" alt="" /></span>
            <span class="square_hov_shape"></span>
          </button-->
        </div>
      </div>
    </div>
    <!-- Main Menu END -->


  </div>
</div>

<!-- Connect Wallet Modal -->
<div class="connect_modal">
  <div class="modal fade " id="connectModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal_overlay">
          <div class="modal_header">
            <h2>Connect Wallet</h2>
            <button data-bs-dismiss="modal" aria-label="Close">
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>
          <div class="modal_body text-center">
            <p>Please select a wallet to connect for start Minting your NFTs</p>
            <div class="connect-section">
              <ul class="heading-list">
                <li (click)="metamaskConnect()" data-bs-dismiss="modal"><a href="#" ><span><img src="../../assets/images/icon/MetaMask.svg"
                        alt="Meta-mask-Image"></span>MetaMask</a></li>
                <!--li><a href="#"><span><img src="../../assets/images/icon/Formatic.svg"
                        alt="Coinbase-Image"></span>Coinbase</a></li>
                <li><a href="#"><span><img src="../../assets/images/icon/Trust_Wallet.svg"
                        alt="Trust-Image"></span>Trust
                    Wallet</a></li-->
                <li (click)="walletconnect()" data-bs-dismiss="modal"><a href="#"><span><img src="../../assets/images/icon/WalletConnect.svg"
                        alt="Wallet-Image"></span>WalletConnect</a></li>
              </ul>
            </div>
            <h6>By connecting your wallet, you agree to our <a href="#">Terms of Service</a> and our <a href="#">Privacy
                Policy</a>.</h6>
          </div>
          <div class="modal_bottom_shape">
            <span class="modal_bottom_shape_left"><img src="../../assets/images/icon/hov_shape_L.svg" alt="" /></span>
            <span class="modal_bottom_shape_right"><img src="../../assets/images/icon/hov_shape_L.svg" alt="" /></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Connect Wallet Modal -->
<!--Mobile menu Modal-->
<div class="connect_modal">
  <div class="modal fade " id="mobileMenuModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal_overlay">
          <div class="modal_body text-center">

            <div class="connect-section">
              <div class="">
                <div class="">
                  <div class="mobile_menu_logo">
                    <span><img src="../../assets/images/logo.png" alt=""></span>

                    <button class="mobile_menu_close_btn" data-bs-dismiss="modal" aria-label="Close"><i
                        class="fa-solid fa-xmark"></i></button>

                  </div>

                  <div class="bithu_mobile_menu_list">
                    <ul>
                      <li class="" data-bs-dismiss="modal" aria-label="Close"><a routerLink="">Home</a></li>
                      <li class="" data-bs-dismiss="modal" aria-label="Close"><a routerLink="/about">About</a></li>
                   
                    </ul>
                  </div>
                  <div class="mobile_menu_btns">
                    <ul class="mobile_menu_social_links">
                      <li><a href="#"><img src="../../assets/images/icon/opensea.svg" alt="" /></a></li>
                      <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
                      <li><a href="#"><i class="fa-brands fa-discord"></i></a></li>
                    </ul>
                    <!--button class="connect_btn hov_shape_show mobile_menu_hide" aria-label="Close" data-bs-dismiss="modal" data-bs-toggle="modal"  data-bs-target="#connectModal">
                      <img src="../../assets/images/icon/connect_wallet.svg" alt="" />CONNECT
                      <span class="hov_shape1"><img src="../../assets/images/icon/hov_shape_s.svg" alt="" /></span>
                      <span class="hov_shape2"><img src="../../assets/images/icon/hov_shape_s.svg" alt="" /></span>
                      <span class="square_hov_shape"></span>
                    </button-->
                  </div>
                </div>
              </div>
            </div>
            <!--h6>By connecting your wallet, you agree to our <a href="#">Terms of Service</a> and our <a href="#">Privacy
                Policy</a>.</h6-->
          </div>
          <div class="modal_bottom_shape">
            <span class="modal_bottom_shape_left"><img src="../../assets/images/icon/hov_shape_L.svg" alt="" /></span>
            <span class="modal_bottom_shape_right"><img src="../../assets/images/icon/hov_shape_L.svg" alt="" /></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Mobile menu Modal ends-->
<!-- Mint Modal -->

<!-- Modal Section End-->