<div class="bithu_v1_footer_sect">
    <div class="container">
      <div class="bithu_title_section text-center">
        <h3>Join Our BNUGDAO community <br>🤙</h3>
      </div>
      <div class="bithu_v1_footer_content">
        <div class="join_comunity_btns text">
           <a href="https://t.me/+T7VwGW-Ftwh60LhF"><button class="join_discord_btn hov_shape_show">
              
           <span class="fa-brands fa-telegram big"></span>  Join Telegram
            <span class="hov_shape1"><img src="assets/images/icon/hov_shape_L.svg" alt="" /></span>
            <span class="hov_shape2"><img src="assets/images/icon/hov_shape_L.svg" alt="" /></span>
            <span class="square_hov_shape_dark"></span>
          </button></a> 
        </div>
     
        <div class="footer_stras_sect">
          <div class="footer_stars">
            <span class="star_1"><img src="assets/images/icon/star_6.svg" alt="" /></span>
            <span class="star_2"><img src="assets/images/icon/star_3.svg" alt="" /></span>
            <span class="star_3"><img src="assets/images/icon/star_1.svg" alt="" /></span>
            <span class="star_4"><img src="assets/images/icon/star_7.svg" alt="" /></span>
            <span class="star_5"><img src="assets/images/icon/star_4.svg" alt="" /></span>
            <span class="star_6"><img src="assets/images/icon/star_2.svg" alt="" /></span>
            <span class="star_7"><img src="assets/images/icon/star_5.svg" alt="" /></span>
          </div>
        </div>
      </div>
    </div>
    <div class="bithu_v1_main_footer">
      <div class="bithu_v1_main_footer_overlay">
      </div>
      <div class="three_charectre_img">
        <img src="assets/images/nft/3_chr_img.png" alt="" />
      </div>
      <div class="footer_bottom">
        <div class="footer_bottom_content">
          <span class="footer_shapes_left"><img src="assets/images/icon/footer_shapes_left.png" alt="" /></span>
          <span class="footer_shapes_right"><img src="assets/images/icon/footer_shapes_right.png" alt="" /></span>
          <div class="container">
            <div class="footer_menu">
              <div class="bottom_footer_left">
                <div class="footer_logo">
                  <a href="#"><img src="assets/images/logo.png" alt="" /></a>
                </div>
                <div class="copiright_text pl-40">
                  Copyright © 2022 BNUG
                </div>
              </div>
              <a href="#" class="bact_to_top_btn"><img src="assets/images/icon/back_to_top.svg" alt="" /></a>
              <div class="bottom_footer_right">
                <ul>
                  <li><a routerLink="">Home</a></li>
                  <li><a routerLink ="/about">About</a></li>
                 
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>