<div class=" justify-content-end d-flex">

   
    <div class="blog-detail-conent1 pb-80 md-pb-20 mt-80">
        <div class="container">
            <div class="row">
                <div class="col-md-11">
                    <h1 class="text-center dsplay-1">OVERVIEW</h1>
                    <div class="details-item1">
                        <div class="blog-description">
                            <p class="des white-color mb-30">
                                OVERVIEW: 
Nigeria democratized in 1999 with the start of the Fourth Republic, but has suffered some setbacks to becoming fully democratic. Elites in Nigeria have been found to have more power and influence than average citizens, and as a consequence of this, there has been a great deal of corruption in Nigerian politics and general life.
 A good sign of democracy in Nigeria is the fact that elections are becoming less fraudulent and there is more party competition.  Another indicator of a strong democracy is the presence of a civil society in which citizens have the right to act and speak freely in concert with a strong use of media for everyday life.
Furthermore, Nigeria has seen a heightened use of media within the realm of political issues, particularly with the recent [Special Anti-Robbery Squad] SARS protest, indicating a sense of freedom for the public to voice their opinions to the government and the world.

Nigeria contains more historic cultures and empires than any other nation in Africa. They date back as far as the 5th century BC. The nation's potential remains vast, with at least 216,771,563 as of Wednesday, August 3, 2022, based on World meter elaboration of the latest United Nations data (comprising some 250 tribes) it is the continent's most populous country. 
Nigeria has lost its status as Africa’s top oil producer to Angola as the continent’s biggest economy saw its output decline the most in May among its peers in the Organization of the Petroleum Exporting Countries (OPEC)		


Nigerians, once dominated by the military, have become disappointed in the civilian rule initiated in 1999, due to the increasing poverty, ethnic strife, religious intolerance, declining standards in health and education, and a stagnant economy.

                            </p>
                           
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </div>
</div>

<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-12 col-xl-5">
  
          <div class="card text-white" style="background-color: #184b4e; border-radius: 15px;">
            <div class="card-body p-5">
  
              <i class="fas fa-quote-left fa-2x mb-4"></i>
  
              <p class="lead" >A country where Unity and Faith, Peace and Progress is our motto 
              Home to over 200 million inhabitants, Nigeria has one of the largest populations of youth, and is the sixth most populous country in the world 
              </p>
  
              <hr>
              <b>#Fact</b>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>


  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<section class="section-big main-color">
   <div class="container">
<br>
      <div class="row">
         <div class="col-md-12 pb-20 text-center">
            
            <h3 class="title text-center">Unrivalled cultural magnificence</h3><br>

           <p class="section-sub-title">
            Nigeria is a multinational state, as it is inhabited by over 250 ethnic groupings, of which the three largest are the Hausa, Igbo and Yoruba. These ethnic groups speak over 500 different languages, have diverse cultures, and exhibits unique art. A rich array of cuisines, fashion styles and festivals exist across the different tribes.

            </p><br><br>
            <div class="exp-separator center-separator">
               <div class="exp-separator-inner">
               </div>
            </div>

         </div>
      </div>

      <div class="row">
         <div class="col-md-6">
            <ul class="i-list medium">
               <li class="i-list-item">
                  <div class="icon"> <i class="fa fa-point"></i> </div>

                  <div class="icon-content">
                     <h3 class="title">Our Mission</h3>
                     <p class="sub-title">
                        To create a platform that will help Nigerians within and in diaspora to support the presidential candidate of their choice in the forth coming 2023 elections. 
                     </p>
                  </div>
                  <div class="iconlist-timeline"></div>
               </li>
               <li class="i-list-item">
                  <div class="icon"> <i class="fa point"></i> </div>

                  <div class="icon-content">
                     <h3 class="title">Our  &amp; Vision</h3>
                     <p>
                        To eliminate God-fatherism and raise a neutral leader that will restore the dignity of dear country and respect the will of the people.

                     </p>
                  </div>
                  <div class="iconlist-timeline"></div>
               </li>
               <li class="i-list-item">
                  <div class="icon"> <i class="fa point"></i> </div>

                  <div class="icon-content">
                     <h3 class="title">Problem Statement </h3>
                     <p>
                        To eliminate barriers in raising funds for competent presidential candidates more especially for those with less financial backup to project their manifesto to Nigerians globally 

                     </p>
                  </div>
               </li>
            </ul>
         </div>
         <div class="col-md-6">
            <ul class="i-list medium">
               <li class="i-list-item">
                  <div class="icon"> <i class="fa point"></i> </div>
                  <div class="icon-content">
                     <h3 class="title">Our Solution</h3>
                     <p class="sub-title">
                        BNUGPCS provides Nigerians world wide opportunity to support their preferred presidential candidate by using a boundless financial payment system that is decentralized, transparent and immutable. 

                     </p>
                  </div>
                  <div class="iconlist-timeline"></div>
               </li>
               <li class="i-list-item">
                  <div class="icon"> <i class="fa point"></i> </div>
                  <div class="icon-content">
                     <h3 class="title">Action Plan</h3>
                     <p>
                        Let us create a government of the people by the people and for the people; Let the people provide financial support for their preferred candidate.
                     </p>
                  </div>
                  <div class="iconlist-timeline"></div>
               </li>
               
            </ul>
         </div>
      </div>
   </div>
</section>


