<div class=" justify-content-end d-flex">

   
    <div class="blog-detail-conent1 pb-80 md-pb-20 mt-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <div class="details-item1">
                        <div class="details-image">
                            <img src="assets/images/blog/blog-detail.png" alt="Details">
                        </div>
                        <div class="details-icon">
                            <ul>
                                <li><img class="mr-10" src="assets/images/blog/user.png" alt=""> Inna Mouaz</li>
                                <li><i class="fa-solid fa-calendar-days"></i> 18 FEB, 2022</li>
                            </ul>
                        </div>
                        <h1><a href="#">It’s the Great Chance to Invest in Metaverse NFT</a></h1>
                        <div class="blog-description">
                            <p class="des white-color mb-30">Contrary to popular belief, Lorem Ipsum is not simply
                                random text. It has roots in a piece of classical Latin literature from 45 BC, making it
                                over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College.
                            </p>
                            <p class="mb-45">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
                                roots in a piece of classical Latin literature from 45 BC, making it over 2000 years
                                old. Richard McClintock, a Latin professor at Hampden-Sydney College There are many
                                variations of passages of Lorem Ipsum available, but the majority have suffered
                                alteration in some form, by injected humour, or randomised words which don't look even
                                slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be
                                sure there isn't anything embarrassing.</p>
                            <div class="des-heading">
                                <h4 class="mb-15">Play-to-Earn</h4>
                                <p class="mb-30">Richard McClintock, a Latin professor at Hampden-Sydney College There
                                    are many variations of passages of available, but the majority have suffered
                                    alteration in some form.</p>
                                <p class="mb-35">Injected humour, or randomised words which don't look even slightly
                                    believable. If you are going to use a passage of Lorem Ipsum, you need to be sure
                                    there isn't anything embarrassing.making it over 2000 years old. </p>
                            </div>
                            <div class="blockquote mb-45">
                                <p class="des-active">On the other hand, we denounce with righteous indignation and
                                    dislike men who are so beguiled and demoralized by the charms of pleasure.</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="item-image">
                                    <img src="assets/images/blog/item-img.png" alt="Item">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="item-image1">
                                    <img src="assets/images/blog/item-img2.png" alt="Item">
                                </div>
                            </div>
                        </div>
                        <div class="igo-blog pt-55">
                            <h4 class="mb-30">IGO Facts</h4>
                            <p class="mb-15">Let’s take a closer look at the Heroes Chained IGO information and GamFi
                                holders’ opportunity<br> to buy $GF tokens before market listing through the IGO on the
                                Launchpad on January 17.</p>
                            <div class="igo-menu mb-40">
                                <ul class="igo-list">
                                    <li><span>Name: MINTO NFT</span></li>
                                    <li><span>Token Type: BNB</span></li>
                                    <li><span>Total supply: 100 000 000</span></li>
                                    <li><span>Initial Mcap: $679K</span></li>
                                    <li><span>IGO Date: March 30</span></li>
                                    <li><span>Allocation: $400K (including 5% success fee)</span></li>
                                    <li><span>IGO Price: $0.35</span></li>
                                    <li><span>Vesting: 20% at TGE, then 13,33% every month for 6 months</span></li>
                                </ul>
                            </div>
                        </div>
                        <div class="about-blog">
                            <h4 class="mb-15">About MintO</h4>
                            <p class="mb-45">Randomised words which don't look even slightly believable. If you are
                                going to use a passage<br> of Lorem Ipsum, you need to be sure there isn't anything
                                embarrassing.<br> making it over 2000 years old. </p>
                            <div class="about-menu mb-80">
                                <div class="about-list">
                                    <ul class="about-listing">
                                        <li><a href="#">Nft</a></li>
                                        <li><a href="#">crypto</a></li>
                                        <li><a href="#">marketplace</a></li>
                                        <li><a href="#">trade</a></li>
                                    </ul>
                                </div>
                               
                            </div>
                          
                        </div>
                     
                       
                    </div>
                </div>
               
            </div>
        </div>
    </div>



</div>