<br>
<section data-bs-version="5.1" class="header1 cid-tgnjBQLhgn mt-5" id="aheader1-a">
    <div class="container mt-5">
        <div class="m-0 row align-items-center">
            <div class="col-12 col-lg col-text">
                <div class="card-wrapper">
                    <div class="card-box">
                        <h4 class="card-title mbr-fonts-style display-1" 
                         data-aos="fade-up-left"
                        data-aos-easing="linear"
                        data-aos-duration="1000"><strong>NIGERIA WILL BE GREAT
                                AGAIN</strong></h4>


                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-img">

                <div class="image-wrapper">
                    <img src="assets/mobirise/assets/images/img-1020x510.jpg" 
                    alt="Mobirise Website Builder">
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="content1 solutionm4_content1 cid-tgn9unnoM5" id="content1-5">


    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 md-pb">
                <div class="title-wrapper align-left">
                    <div class="line"></div>
                    <h3 class="mbr-section-title mbr-white mbr-semibold pb-3 mbr-fonts-style display-2">Our
                        Democracy Journey</h3>
                    <p class="mbr-text pb-3 mbr-white mbr-light mbr-fonts-style display-7" data-aos="fade-up-left"
                    data-aos-easing="linear"
                    data-aos-duration="1000">Nigeria democratized in
                        1999 with the start of the Fourth Republic, but has suffered some setbacks to becoming fully
                        democratic. Elites in Nigeria have been found to have more power and influence than average
                        citizens, and as a consequence of this, there has been a great deal of corruption in
                        Nigerian politics and general life. A good sign of democracy in Nigeria is the fact that
                        elections are becoming less fraudulent and there is more party competition. Another
                        indicator of a strong democracy is the presence of a civil society in which citizens have
                        the right to act and speak freely in concert with a strong use of media for everyday life.
                        Furthermore, Nigeria has seen a heightened use of media within the realm of political
                        issues, particularly with the recent [Special Anti-Robbery Squad] SARS protest, indicating a
                        sense of freedom for the public to voice their opinions to the government and the world.
                        Nigeria contains more historic cultures and empires than any other nation in Africa. They
                        date back as far as the 5th century BC. The nation's potential remains vast, with at least
                        216,771,563 as of Wednesday, August 3, 2022, based on World meter elaboration of the latest
                        United Nations data (comprising some 250 tribes) it is the continent's most populous
                        country. Nigeria has lost its status as Africa’s top oil producer to Angola as the
                        continent’s biggest economy saw its output decline the most in May among its peers in the
                        Organization of the Petroleum Exporting Countries (OPEC) Nigerians, once dominated by the
                        military, have become disappointed in the civilian rule initiated in 1999, due to the
                        increasing poverty, ethnic strife, religious intolerance, declining standards in health and
                        education, and a stagnant economy.<br></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="article3 cid-tgniaGaxsp" id="article03-8">

    <div class="container">
        <div class="row align-left justify-content-center text-dark">
            <div class="col-12">
                <h5 class="mbr-section-title mbr-fonts-style mb-5 pb-3 display-5" data-aos="fade-up-left"
                data-aos-easing="linear"
                data-aos-duration="1000">A country where Unity and Faith,
                    Peace and Progress is our motto Home to over 200 million inhabitants, Nigeria has one of the
                    largest populations of youth, and is the sixth most populous country in the world</h5>
            </div>
            <div class="col-12 col-md-6 col-lg-6">


                <p class="mbr-text mbr-fonts-style display-7"></p>
            </div>
            <div class="col-12 col-md-6 col-lg-6">

                <p class="mbr-text mbr-fonts-style display-7"></p>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features1 solutionm4_features1 cid-tgn9qDSbbN" id="features1-4">


    <div class="container">
        <div class="row align-center justify-content-center">

            <div class="card md-pb col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <span class="mbr-iconfont mobi-mbri-rocket mobi-mbri"></span>
                    <div class="card-box">
                        <h5 class="card-title mbr-semibold pb-2 mbr-white mbr-fonts-style display-5">Mission</h5>
                        <p class="card-text mbr-light pt-1 mbr-white mbr-fonts-style display-7"  data-aos="fade-up-left"
                        data-aos-easing="linear"
                        data-aos-duration="1000">To create a platform
                            that will enable Nigerians within and in diaspora to support the presidential candidate
                            of their choice in the forth coming 2023 elections.</p>
                    </div>
                </div>
            </div>
            <div class="card md-pb col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <span class="mbr-iconfont mbri-preview"></span>
                    <div class="card-box">
                        <h5 class="card-title mbr-semibold pb-2 mbr-white mbr-fonts-style display-5">Vision</h5>
                        <p class="card-text mbr-light pt-1 mbr-white mbr-fonts-style display-7"  data-aos="fade-up-left"
                        data-aos-easing="linear"
                        data-aos-duration="1000">To eliminate
                            God-fatherism and raise a neutral leader that will restore the dignity of our dear
                            country and respect the will of the people.</p>
                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <span class="mbr-iconfont mobi-mbri-touch-swipe mobi-mbri"></span>
                    <div class="card-box">
                        <h5 class="card-title mbr-semibold pb-2 mbr-white mbr-fonts-style display-5">Problem
                            Statement</h5>
                        <p class="card-text mbr-light pt-1 mbr-white mbr-fonts-style display-7"  data-aos="fade-up-left"
                        data-aos-easing="linear"
                        data-aos-duration="1000">To eliminate
                            barriers in raising funds for competent presidential candidates more especially for
                            those with less financial backup to project their manifesto to Nigerians globally</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features1 solutionm4_features1 cid-tgncn3hOcU" id="features1-7">


    <div class="container">
        <div class="row align-center justify-content-center">

            <div class="card md-pb col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <span class="mbr-iconfont mobi-mbri-unlock mobi-mbri"></span>
                    <div class="card-box">
                        <h5 class="card-title mbr-semibold pb-2 mbr-white mbr-fonts-style display-5">Our Solution
                        </h5>
                        <p class="card-text mbr-light pt-1 mbr-white mbr-fonts-style display-7"  data-aos="fade-up-left"
                        data-aos-easing="linear"
                        data-aos-duration="1000">BlockChain Nigeria
                            Users' Group, A decentralized Autonomous Organisation, empowers Nigerians worldwide with
                            opportunity to support their preferred presidential candidate through the use of a
                            boundless financial payment system that is decentralized, transparent and immutable.</p>
                    </div>
                </div>
            </div>
            <div class="card md-pb col-12 col-md-6 col-lg-4">
                <div class="card-wrapper">
                    <span class="mbr-iconfont mobi-mbri-calendar mobi-mbri"></span>
                    <div class="card-box">
                        <h5 class="card-title mbr-semibold pb-2 mbr-white mbr-fonts-style display-5">Action Plan
                        </h5>
                        <p class="card-text mbr-light pt-1 mbr-white mbr-fonts-style display-7"  data-aos="fade-up-left"
                        data-aos-easing="linear"
                        data-aos-duration="1000">Let us create a
                            neutral government of the people by the people and for the people.
                            <br>A New Nigeria is Possible.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section data-bs-version="5.1" class="testimonials1 cid-tgn7aLKTXc" id="testimonials01-1">

    <div class="mbr-overlay" style="opacity: 0.3; background-color: rgb(0, 0, 0);"></div>
    <div class="container">
        <div class="row align-left">
            <div class="col-lg-4 md-pb">
                <span class="mbr-iconfont mobi-mbri-quote-right mobi-mbri"></span>
            </div>
            <div class="col-12 col-lg-8">
                <h1 class="mbr-section-title mbr-fonts-style mb-5 display-5"  data-aos="fade-up-left"
                data-aos-easing="linear"
                data-aos-duration="1000"><strong>"Nigeria is a multinational
                        state, as it is inhabited by over 250 ethnic groupings, of which the three largest are the
                        Hausa, Igbo and Yoruba. These ethnic groups speak over 500 different languages, have diverse
                        cultures, and exhibits unique art. A rich array of cuisines, fashion styles and festivals
                        exist across the different tribes.
                    </strong>
                    <div><strong>"</strong><br></div>
                </h1>



            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="team1 solutionm4_team1 cid-tgn9RLAUJT" id="team1-6">



    <div class="container-fluid mbr-white">
        <div class="row justify-content-center">
            <div class="col-12 col-md-12 col-lg-10 pb-5">
                <h4 class="main-title align-center pb-3 mbr-bold mbr-black mbr-fonts-style display-2">TEAM MEMBERS
                </h4>

            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper align-center">
                    <div class="img-wrapper"  data-aos="zoom-in"
                        data-aos-easing="linear"
                        data-aos-duration="1000">
                        <img src="assets/mobirise/assets/images/chuta-320x320.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box ">
                        <h3 class="mbr-subtitle mbr-semibold mbr-fonts-style display-5">Chuta Chemizie</h3>
                        <h4 class="card-title mbr-regular mbr-black mbr-fonts-style display-7">Founder</h4>
                    </div>
                    <div class="text-wrap">

                        <div class="icon-wrapper">
                            <span class="link-icon socicon-twitter socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-linkedin socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-facebook socicon"></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper align-center">
                    <div class="img-wrapper"  data-aos="zoom-in"
                        data-aos-easing="linear"
                        data-aos-duration="1000">
                        <img src="assets/mobirise/assets/images/juve-320x320.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box ">
                        <h3 class="mbr-subtitle mbr-semibold mbr-fonts-style display-5">Juventus Jude</h3>
                        <h4 class="card-title mbr-regular mbr-black mbr-fonts-style display-7">Developer</h4>
                    </div>
                    <div class="text-wrap">

                        <div class="icon-wrapper">
                            <span class="link-icon socicon-twitter socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-linkedin socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-facebook socicon"></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper align-center">
                    <div class="img-wrapper"  data-aos="zoom-in"
                        data-aos-easing="linear"
                        data-aos-duration="1000">
                        <img src="assets/mobirise/assets/images/dominion-320x320.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box ">
                        <h3 class="mbr-subtitle mbr-semibold mbr-fonts-style display-5">Dominion Ndubuisi</h3>
                        <h4 class="card-title mbr-regular mbr-black mbr-fonts-style display-7">Content Writer</h4>
                    </div>
                    <div class="text-wrap">

                        <div class="icon-wrapper">
                            <span class="link-icon socicon-twitter socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-linkedin socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-facebook socicon"></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper align-center">
                    <div class="img-wrapper"  data-aos="zoom-in"
                        data-aos-easing="linear"
                        data-aos-duration="1000">
                        <img src="assets/mobirise/assets/images/me-320x320.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box ">
                        <h3 class="mbr-subtitle mbr-semibold mbr-fonts-style display-5">Clement Ikechukwu</h3>
                        <h4 class="card-title mbr-regular mbr-black mbr-fonts-style display-7">Developer</h4>
                    </div>
                    <div class="text-wrap">

                        <div class="icon-wrapper">
                            <span class="link-icon socicon-twitter socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-linkedin socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-facebook socicon"></span>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card col-12 col-md-6 col-lg-4">
                <div class="card-wrapper align-center">
                    <div class="img-wrapper"  data-aos="zoom-in"
                        data-aos-easing="linear"
                        data-aos-duration="1000">
                        <img src="assets/mobirise/assets/images/face5.jpg" alt="Mobirise">
                    </div>
                    <div class="card-box ">
                        <h3 class="mbr-subtitle mbr-semibold mbr-fonts-style display-5">Lisa Green</h3>
                        <h4 class="card-title mbr-regular mbr-black mbr-fonts-style display-7">Lorem ipsum dolor sit
                            amet, consectetur
                            adipiscing dapibus elit.</h4>
                    </div>
                    <div class="text-wrap">

                        <div class="icon-wrapper">
                            <span class="link-icon socicon-twitter socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-linkedin socicon"></span>
                        </div>
                        <div class="icon-wrapper">
                            <span class="link-icon socicon-facebook socicon"></span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="display-7 bg-dark " style="
padding: 0;
align-items: center;
  justify-content: center;
  flex-wrap: wrap;
      align-content: center;
  display: flex;
  position: absolute;
  left:-200%;
  height: 0rem;
  background-color: black;
  color: black;
   ">
    <a href="https://mobiri.se/" style="flex: 1 1;
  height: 4rem;
  position: absolute;
  width: 100%;z-index: 1;"><img alt="" style="height: 4rem;"
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="></a>
    <p style="margin: 0;text-align: center;" class="display-7"></p><a style="z-index:1"
        href="https://mobirise.com/web-page-maker.html"></a>
</section>

<div class="startContainer">
  </div><a class="glowButton p-3" routerLink="/support">MINT NFT</a>